html{
    --pro-admin-layout-content-bg: #f0f2f5;
    --pro-admin-layout-box-shadow: 0 1px 3px 0 rgba(0,0,0,.18)
}

html .dark{
    --pro-admin-layout-content-bg: #2a2c2c;
    --pro-admin-layout-box-shadow: 0 1px 3px 0 rgba(13,13,13,.18)
}
